<ul>
    {{#each all}}
    <li>
        <p>ID: {{this.id}}</p>
        <p>Name: {{this.first_name}} {{this.last_name}}</p>
        <p>Title: {{this.title}}</p>
        <p>Department: {{this.department}}</p>
        <p>Salary: {{this.salary}}</p>
        {{#if this.manager}}
        <p>Manager Name: {{this.manager}}</p>
        {{/if}}
    </li>
    {{/each}}
</ul>