{{#if employees}}
<ul>
    {{#each employees}}
    <li>
        <p>ID: {{this.id}}</p>
        <p>Name: {{this.first_name}} {{this.last_name}}</p>
        <p>Role ID: {{this.role_id}}</p>
        {{#if this.manager_id}}
        <p>Manager ID: {{this.manager_id}}</p>
        {{/if}}
    </li>
    {{/each}}
</ul>

<h2>Add an Employee</h2>
<form id="addemployee" class="button-size">
  <input type="text" name="employeefirstname" placeholder="First Name..."></input>
  <input type="text" name="employeelastname" placeholder="Last Name..."></input>
  <input type="text" name="employeeroleid" placeholder="Role ID..."></input>
  <input type="text" name="employeemanagerid" placeholder="Manager ID..."></input>
  <button type="submit">Save Employee!</button>
</form>

<h2>Update an Employee's Role</h2>
<form id="updateemployee" class="button-size">
  <select name="id">
		{{#each employees}}
			<option value="{{this.id}}">{{this.first_name}} {{this.last_name}}</option>
		{{/each}}
	</select>
  <input type="text" name="employee" placeholder="New employee role..."></input>
  <button type="submit">Update Employee!</button>
</form>

<h2>Delete an Employee</h2>
<form id="updateemployee" class="button-size">
  <select name="id">
		{{#each employees}}
			<option value="{{this.id}}">{{this.first_name}} {{this.last_name}}</option>
		{{/each}}
	</select>
  <button type="submit">Delete an Employee!</button>
</form>
{{/if}}

{{!-- ///////////////////////////////////// --}}

{{#if role}}
<ul>
    {{#each role}}
    <li>
        <p>ID: {{this.id}}</p>
        <p>Title: {{this.title}}</p>
        <p>Salary: {{this.salary}}</p>
    </li>
    {{/each}}
</ul>

<h2>Add a Role</h2>
<form id="addrole" class="button-size">
  <input type="text" name="rolename" placeholder="Title..."></input>
  <input type="text" name="rolesalary" placeholder="Salary..."></input>
  <input type="text" name="roledepartmentid" placeholder="Department ID..."></input>
  <button type="submit">Save Role!</button>
</form>

<h2>Delete a Role</h2>
<form id="deleterole" class="button-size">
  <select name="id">
		{{#each role}}
			<option value="{{this.id}}">{{this.title}}</option>
		{{/each}}
	</select>
  <button type="submit">Delete a Role!</button>
</form>
{{/if}}

{{!-- //////////////////////////////////// --}}

{{#if department}}
<ul>
    {{#each department}}
    <li>
        <p>ID: {{this.id}}</p>
        <p>Name: {{this.name}}</p>
    </li>
    {{/each}}
</ul>

<h2>Add a Department</h2>
<form id="adddepartment" class="button-size">
  <input type="text" name="departmentname" placeholder="Department Name..."></input>
  <button type="submit">Save Department!</button>
</form>

<h2>Delete a Department</h2>
<form id="deletedepartment" class="button-size">
  <select name="id">
		{{#each department}}
			<option value="{{this.id}}">{{this.name}}</option>
		{{/each}}
	</select>
  <button type="submit">Delete a Department!</button>
</form>
{{/if}}